* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    container-type: inline-size;
    background-color: black;
    overflow-x: hidden;
}

#about {
    container-type: inline-size;
    position: relative;
    width: 100%;
    background-color: brown;
}

#projects {
    container-type: inline-size;
    position: relative;
    width: 100%;
    background-color: purple;
}

#contact {
    container-type: inline-size;
    position: relative;
    width: 100%;
    background-color: orange;
}
