* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
}

#maw {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("./assets/Maw.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
